package $package;

import java.util.Collection;
import java.util.List;
#set($infoClass=${help.fristUpper($baseName)} + "Info")

import tsif.jdbc.annotation.DAO;
import tsif.jdbc.annotation.ReturnGeneratedKeys;
import tsif.jdbc.annotation.SQL;

import ${entity_package}.${infoClass};
import ${utils_package}.EntityDAO;

#set($fristField=$fields.get(0))
#set($fristFieldName=${help.fristLower($fristField.name)})
#foreach($field in $fields)#if(${field.name.equals("IsExist")})#set($hasExist=true)#end#end
@DAO
public interface $className extends EntityDAO<${infoClass}> {
	static final String tableName = "t_u_$orderName";
	static final String keys = "#foreach($field in $fields)#if($velocityCount != 1),#end`$field.name`#end";
	static final String values = "#foreach($field in $fields)#if($velocityCount != 1),#end:1.$field.name#end";

	@ReturnGeneratedKeys
	@SQL("replace into `" + tableName + "` (" + keys + ") values(" + values + ") ")
	<T extends ${infoClass}> long insertOrUpdate(T info);

	@SQL("replace into `" + tableName + "` (" + keys + ") values(" + values + ") ")
	<T extends ${infoClass}> int insertOrUpdate(Collection<T> infos);

	@SQL("select " + keys + " from `" + tableName + "` where $fristField.name=:1 #if($hasExist)and `IsExist`>0 #{end}")
	List<${infoClass}> get($fristField.type $fristFieldName);
}
