package $package;

import java.util.List;
#set($infoClass=${help.fristUpper($baseName)} + "Info")

import tsif.jdbc.annotation.DAO;
import tsif.jdbc.annotation.SQL;

import $entity_package.${infoClass};


#set($fristField=$fields.get(0))
#set($fristFieldName=${help.fristLower($fristField.name)})
#set($fristFieldType=$fristField.type)
#foreach($field in $fields)#if(${field.name.equals("IsExist")})#set($hasExist=true)#end#end

@DAO
public interface $className {
	static final String tableName = "$orderName";
	static final String keys = "#foreach($field in $fields)#if($velocityCount != 1),#end`$field.name`#end";
	static final String values = "#foreach($field in $fields)#if($velocityCount != 1),#end:1.$field.name#end";

	
	@SQL("insert  into `" + tableName + "` (" + keys + ") values(" + values + ") ")
	<T extends ${infoClass}> long insert(List<T> infos);


}
